.plaster-container.container(id="cemonol") 
    .plaster__img
        img(
            src="img/drymixes-page-img/cemonol_price.svg", 
            alt="Ценник на штукатурку"
        ).cemonol_price
        img(
            src="img/drymixes-page-img/bag.png", 
            alt="Фото мешка со штукатурной смесью"
        ).img-bag 
        a(
            data-rel='f0a4ec62283283'
        ).btn-ens-action.btn-bay.table__discription_left Купить
    .plaster__feature
        .presentation-block
            .presentation-block__title Презентация:
            .presentation-block__download
                a(href='img/drymixes-page-img/presentation.jpg')
                    img(
                        src="img/drymixes-page-img/presentation__icon_50px.jpg", 
                        alt="Фото с одной из страниц презентации"
                    ).block-download__img
                a(href='file/presentation-compressed.pdf').block-download__icon_a 
                    .block-download__icon
                    span.icon__text Download
        .feature
            h2.feature__title Смесь сухая штукатурная
            p.feature__discription на цементном вяжущем Пк4, КП IV, ГОСТ 33083-2014
            .feature__table
                ul.table__list
                    li.table__item
                        .table__title.table__title_left Характеристики
                        .table__title.table__title_right значение                        
                    li.table__item
                        .table__discription.table__discription_left Количество СС в мешке, кг
                        .table__discription.table__discription_right 25
                    li.table__item
                        .table__discription.table__discription_left Наибольшая крупность зерен заполнителя
                        .table__discription.table__discription_right  0,6 мм
                    li.table__item
                        .table__discription.table__discription_left Прочноcть при сжатии, не менее
                        .table__discription.table__discription_right  14 МПа
                    li.table__item
                        .table__discription.table__discription_left Прочность сцепления с основанием, не менее
                        .table__discription.table__discription_right  0,3 МПа
                    li.table__item
                        .table__discription.table__discription_left Насыпная масса в рыхлом (уплотненном),
                        .table__discription.table__discription_right  1000 (1400) кг/м<sup>3</sup>
                    li.table__item
                        .table__discription.table__discription_left Подвижность, не менее
                        .table__discription.table__discription_right  12 см
                    li.table__item
                        .table__discription.table__discription_left Начало схватывания, не позднее
                        .table__discription.table__discription_right  300 мин

