//-- Контейнер с информацией о том, как обеспечивается качество
.quality-container.container
    h2.quality-container__title Так обеспечиваем качество:
    ul.quality-card__list
        li.quality-card__item
            .quality-card
                img(
                    class='quality-card__img',
                    src='img/index-page-img/equipment__1.png',
                    alt='Иконка с изображением в виде промышленного оборудования'
                )
                .quality-card__discription Современное европейское оборудование
        li.quality-card__item
            .quality-card
                img(
                    class='quality-card__img',
                    src='img/index-page-img/equipment__2.png',
                    alt='Иконка с изображением в виде промышленной шестиренки синего цвета'
                )
                .quality-card__discription Отточенная технология производства
        li.quality-card__item
            .quality-card
                img(
                    class='quality-card__img',
                    src='img/index-page-img/equipment__3.png',
                    alt='Иконка с изображением в виде стрелки завязанной по кругу, ассоциирует возобновление процесса'
                )
                .quality-card__discription Работающая система контроля качества
        li.quality-card__item
            .quality-card
                img(
                    class='quality-card__img',
                    src='img/index-page-img/equipment__4.png',
                    alt='Иконка с изображением в виде компьютера и измерительной системы на его фоне'
                )
                .quality-card__discription Авторский надзор Пермского Политеха
        li.quality-card__item
            .quality-card
                img(
                    class='quality-card__img',
                    src='img/index-page-img/equipment__5.png',
                    alt='Иконка с изображением в виде весов'
                )
                .quality-card__discription Система количественного контроля
        li.quality-card__item            
            .quality-card
                img(
                    class='quality-card__img',
                    src='img/index-page-img/equipment__6.png',
                    alt='Иконка с изображением в виде грузового автомобиля'
                )
                .quality-card__discription Собственная служба доставки