//-- Секция с разновидностью бетона и количеством рецептов
.recept-beton__block.container
    .recept-beton__container
        ul.recept-beton__list
            li.recept-beton__item.recept-beton__item_discription
                .recept-number 90
                .recept-text рецептов
            li.recept-beton__item
                figure
                    img(
                        src="img/beton-page-img/gravel.png",
                        alt="Изображение гравия в круглешке"
                    ).recept-beton__img
                    figcaption.recept-beton__img-text Бетон на гравии
                        
            li.recept-beton__item
                figure
                    img(
                        src="img/beton-page-img/rubble.png",
                        alt="Изображение щебня в круглешке"
                    ).recept-beton__img
                    figcaption.recept-beton__img-text Бетон на щебне
          
            li.recept-beton__item
                figure
                    img(
                        src="img/beton-page-img/sand.png",
                        alt="Изображение песчаных барханов в круглешке"
                    ).recept-beton__img
                    figcaption.recept-beton__img-text Пескобетон
        h2(class="visually-hidden title-h1", style="visibility: hidden;") Бетон на гравии, бетон на щебне в Перми